<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <appSettings>
      <add key="url2"  value="http://utf8.api.smschinese.cn/" />
      <!-- 发送短信账号 -->
      <add key="account2"  value="yoyanggame" />
      <!-- 发送短信密码 -->
      <add key="pwd2"  value="9188bb2c193fd0d27dac" />

      <add key="url"  value="http://sms3.biztoall.net:8088/smshttp/infoSend" />
      <add key="account"  value="shyywl" />
      <add key="pwd"  value="yy~123" />

      <!-- 使用哪个 1使用 url, 2使用url2 -->
      <add key="use"  value="2" />

      <add key="bind_info"  value="您正在申请升级。验证码:{0}。此验证码将在1小时后失效。" />

      <!-- 保险箱修改密码提示信息 -->
      <add key="safeBoxInfo"  value="您申请了修改保险箱密码的服务。验证码:{0}。此验证码将在1小时后失效。" />

      <!-- 验证手机 -->
      <add key="verifyPhone"  value="您正在申请修改信息，验证码:{0}，如有问题联系QQ客服4006290806" />

      <!-- 发送任意信息 -->
      <add key="anyInfo"  value="{0}" />
    </appSettings>
</configuration>
